<div class="container">
	<div class="screen">
		<div class="screen__content">

			<div class="cargando" *ngIf="isLoading; else mostrar">
				<app-spinner></app-spinner>
			</div>
			<ng-template #mostrar>

				<div class="registration"
					*ngIf="!boolFormPac && !boolFormEsp && currentProfile != 'admin', else esAdmin">
					<div class="col">
						<div class="row">
							<h1>Especialista</h1>
							<img src="../../../assets/doctor.jpg" alt="especialista" (click)="boolFormEsp = true">
						</div>
						<h1>Paciente</h1>
						<div class="row">
							<img src="../../../assets/patient.jpg" alt="paciente" (click)="boolFormPac = true">
						</div>
					</div>

				</div>
				<ng-template #esAdmin>
					<div class="registration_admin">
						<div class="col" *ngIf="!boolFormPac && !boolFormEsp && !boolFormAdmin">
							<div class="row">
								<h1>Especialista</h1>
								<img src="../../../assets/doctor.jpg" alt="especialista" (click)="boolFormEsp = true">
							</div>
							<h1>Paciente</h1>
							<div class="row">
								<img src="../../../assets/patient.jpg" alt="paciente" (click)="boolFormPac = true">
							</div>
							<h1>Admin</h1>
							<div class="row">
								<img src="../../../assets/admin.jpg" alt="admin" (click)="boolFormAdmin = true">
							</div>
						</div>
					</div>
				</ng-template>

				<div class="form-especialista" *ngIf="boolFormEsp">
					<app-form-alta-especialista></app-form-alta-especialista>
				</div>

				<div class="form-paciente" *ngIf="boolFormPac">
					<app-form-alta-paciente></app-form-alta-paciente>
				</div>

				<div class="form-admin" *ngIf="currentProfile == 'admin' && boolFormAdmin">
					<app-form-alta-admin></app-form-alta-admin>
				</div>
			</ng-template>


		</div>
	</div>
</div>