<div class="cargando" *ngIf="isLoading; else mostrar">
	<app-spinner></app-spinner>
</div>

<ng-template #mostrar>
<div class="container">
	<div class="screen">
			<div class="screen__content">
				<h1 class="text-center">Bienvenido a la Clínica OnLine</h1>
				<img class="img-logo" src="../../../assets/logo.png" alt="logo">
				<div class="home">
					<div class="home__field">
						<button class="button home__submit" (click)="irALogIn()">
							<span class="button__text">Iniciar sesión</span>
							<i class="button__icon fas fa-chevron-right"></i>
						</button>

						<button class="button home__submit" (click)="irARegistro()">
							<span class="button__text">Registrarse</span>
							<i class="button__icon fas fa-chevron-right"></i>
						</button>
					</div>

				</div>
			</div>
		</div>
	</div>
</ng-template>