<div class="container">
    <div class="screen">
        <div class="screen__content">
            <div class="informes">
            <!-- <app-log-usuarios [listadoRecibido]="listaLogIngresos"></app-log-usuarios> -->
             <!-- <app-turnos-por-especialidad [listadoRecibido]="listaEspecialidades"></app-turnos-por-especialidad>  -->
                <!-- <app-turnos-diarios [listadoRecibido]="listaTurnos"></app-turnos-diarios> -->
                 <app-turnos-solicitados-por-medico [listadoRecibido]="listaTurnos"></app-turnos-solicitados-por-medico> 
                <!-- <app-turnos-finalizados-por-medico [listadoRecibido]="listaTurnos"></app-turnos-finalizados-por-medico> -->
		</div>	
	</div>
</div>