.contenedor{
    height: 6rem;
    overflow: scroll;
    text-align: start;
}

.especialidad  {
    font-weight: bold;
    padding: 10px;
}

.especialidad:hover {
    background: #666;
    color: #fff;
    transition: background 0.5s;
    cursor: pointer;
}