<div class="container">
    <div class="screen">
        <div class="screen__content">
            <div class="users">

                <tr class="botones">
                    <td> <button class="btn btn-primary" style="justify-content: left;" color="primary" (click)="irARegistro()">Registro</button> </td>
                    <td> <button class="btn btn-primary" style="justify-content: left;" color="primary" (click)="descargarUsuarios()">Descargar Excel</button> </td>
                </tr>

                <app-listado-usuarios [listadoRecibido]="listaUsuarios" (PasamosUnUsuario)="tomarUsuarioParaExcel($event)"></app-listado-usuarios>


		</div>	
	</div>
</div>