@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
/* @import 'https://fonts.googleapis.com/icon?family=Material+Icons'; */

* {
	box-sizing: border-box;
	margin: 1;
	padding: 0;	
	font-family: Raleway, sans-serif;
}

.img-perfil {
	border-radius: 50%;
	width: 250px;
	height: 250px;
	cursor: pointer; 
}

.boton-registro{
	margin-right: 88%;
    margin-top: 2%;
}

.badge{
	font-size: large;
	line-height: 1.5;
}

.btn-primary{
	background-color: #6ed9d3 ;
    border-color: #6dbfbb;
    color:white;
	width: 150px;
	height: 30px;
	margin: 3px;
}

body {
	background: linear-gradient(90deg, #C7C5F4, #776BCC);		
}

img {
	border-radius: 50%;
	width: 35%;
	height: 35%;
	cursor: pointer; /*Probablemente haya que modificarlo*/
}

.row {
    display: flex;
    justify-content: center;
	margin-bottom: 20%;
}

.center-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative; 
    top:4%;
}

.screen {		
	background: linear-gradient(90deg, #f1fcfb, #dafffd);		
	position: relative;	
	height: 800px;
	width: 1200px;	
	box-shadow: 0px 0px 24px #8dcac7;
	border-radius: 15px;
	
}

.screen__content {
	z-index: 1;
	position: relative;	
	height: 100%;
	display: flex;
	justify-content: center;
	text-align: center;
	
}

h1, h2, h3, p
{
	color:#5e8b89;
}

.profile {
	width: 1000px;
	
}

.profile__field {
	padding: 7px 0px;	
	position: relative;	
}

.profile__icon {
	position: absolute;
	top: 30px;
	color: #7875B5;
}

.profile__input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
}

