<div class="container">
    <div class="screen">
      <div class="screen__content">
        <div class="profile">
            
            <div class="cargando" *ngIf="isLoading; else mostrar">
                <app-spinner></app-spinner>
              </div>
            <ng-template #mostrar>
              <!-- PERFIL DE PACIENTE-->
                <h1>Perfil de {{ usuarioActual.nombre + ' ' + usuarioActual.apellido }}</h1>     
                <img class="img-perfil" [src]="usuarioActual.imagen1" alt="foto de perfil">     
                <h3>Edad: {{ usuarioActual.edad }}</h3>
                <h3>DNI: {{ usuarioActual.dni }}</h3>
                <h3>Correo electrónico: {{ usuarioActual.email }}</h3>
                <h3>Obra social: {{ usuarioActual.obraSocial }} </h3> 

                <ng-container *ngIf="usuarioActual.perfil == 'paciente'">
                  <!-- <app-historiales [listaRecibida]="listaTurnosPaciente"></app-historiales> -->

                           <app-historiales [listaTurnosRecibida]="listaTurnosPaciente"></app-historiales>                   


                  <button type="button" class="btn btn-primary" (click)="descargarPDF()">Descargar PDF</button>
                </ng-container>
                
                


                <!-- PERFIL DE ESPECIALISTA -->
                <ng-container *ngIf="usuarioActual.perfil == 'especialista'">
                  <h3>Seleccione sus días laborables</h3>
                  <tr>
                    <td *ngIf="this.usuarioActual.dias[1]"> <button class="btn btn-primary" (click)="toggleDay(1)">Lunes</button></td>
                    <td *ngIf="!this.usuarioActual.dias[1]"> <button class="btn btn-secondary" (click)="toggleDay(1)">Lunes</button></td>
                    <td *ngIf="this.usuarioActual.dias[2]"> <button class="btn btn-primary" (click)="toggleDay(2)">Martes</button></td>
                    <td *ngIf="!this.usuarioActual.dias[2]"> <button class="btn btn-secondary" (click)="toggleDay(2)">Martes</button></td>
                    <td *ngIf="this.usuarioActual.dias[3]"> <button class="btn btn-primary" (click)="toggleDay(3)">Miércoles</button></td>
                    <td *ngIf="!this.usuarioActual.dias[3]"> <button class="btn btn-secondary" (click)="toggleDay(3)">Miércoles</button></td>
                    <td *ngIf="this.usuarioActual.dias[4]"> <button class="btn btn-primary" (click)="toggleDay(4)">Jueves</button></td>
                    <td *ngIf="!this.usuarioActual.dias[4]"> <button class="btn btn-secondary" (click)="toggleDay(4)">Jueves</button></td>
                    <td *ngIf="this.usuarioActual.dias[5]"> <button class="btn btn-primary" (click)="toggleDay(5)">Viernes</button></td>
                    <td *ngIf="!this.usuarioActual.dias[5]"> <button class="btn btn-secondary" (click)="toggleDay(5)">Viernes</button></td>
                    <td *ngIf="this.usuarioActual.dias[6]"> <button class="btn btn-primary" (click)="toggleDay(6)">Sábado</button></td>
                    <td *ngIf="!this.usuarioActual.dias[6]"> <button class="btn btn-secondary" (click)="toggleDay(6)">Sábado</button></td>

                  </tr>
                </ng-container>
            </ng-template>
            
 
  
        </div>
      </div>
    </div>

