<div class="container">
    <div class="screen">
            <h1>Quién soy</h1>
            <h4><strong>Nombre</strong>: {{ myProfile.name }}</h4>
            <h4><strong>Comisión</strong>: 4A</h4>
            <h4><strong>Username</strong>: {{ myProfile.login }}</h4>
            <h4><strong>Año</strong>: 2023</h4>
            <img src="{{ myProfile.avatar_url }}" alt="" />
            <br><br>
            <p style="font-size: 14px;">
                Esta página es la Clínica OnLine, un proyecto web donde podrás registrarte, sacar turnos médicos, tomarlos y dejar reseñas.
            </p>
    </div>
</div>