<div class="container">
    <div class="screen">
        <div class="screen__content">
            <div class="appointments">

                <!-- <div class="boton-registro">
                    <button class="btn btn-primary" style="justify-content: left;" color="primary">Registro</button>
                </div> -->

                <div class="listado-turnos-paciente">
                    <app-listado-turnos-paciente></app-listado-turnos-paciente>
                </div>

              

		</div>	
	</div>
</div>