<div class="container">
  <div class="screen">
    <div class="screen__content">
      <div class="appointments">

        <!-- <div class="boton-registro">
                    <button class="btn btn-primary" style="justify-content: left;" color="primary">Registro</button>
                </div> -->

        <!--LISTA DE TURNOS DEL ADMINISTRADOR-->
        <div class="listado-turnos-admin" *ngIf="this.userService.getCurrentProfile() == 'admin'">
          <table style="color:rgb(0, 162, 255);" class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Hora</th>
                <th scope="col">Especialidad</th>
                <th scope="col">Profesional</th>
                <th scope="col">Estado</th>
                <th scope="col">Acción</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let turno of this.listaDeTurnos">
                <td>{{turno.fecha}}</td>
                <td>{{turno.hora}}</td>
                <td>{{turno.especialidad}}</td>
                <td>{{turno.especialista}}</td>
                <td>{{turno.estado}}</td>
                <td><button mat-raised-button color="accent">Acción</button></td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- 
          Como PACIENTE
          ■ Solo tendrá acceso el Paciente y le mostrará los turnos que él solicitó.
          ■ Esta sección deberá contar con un filtro único donde podrá filtrar por:
          ● Especialidad
          ● Especialista
          ● NO UTILIZAR Combobox
          ■ A su vez desde este listado podrá realizar las siguientes acciones:

              ● Cancelar turno
              ○ Solamente debe ser visible si el turno no fue realizado.
              ○ Debe dejar un comentario del porque se cancela el turno.

          ● Ver reseña.
          ○ Solo debe ser visible si el turno tiene un comentario o reseña
          cargado.

              ● Completar encuesta.
              ○ Solamente debe estar visible si el especialista marcó el turno
              como realizado y dejo la reseña.

          ● Calificar Atención
          ○ Solamente debe ser visible una vez que el turno sea
          realizado.
          ○ El paciente debe dejar un comentario de como fue la
          atención del Especialista.

              ■ Debe estar bien visible el estado del turno.
              ■ Solamente mostrar la acción que puede realizar el usuario.
        -->

        <!--LISTA DE TURNOS DEL PACIENTE ACTUAL-->
        <div class="listado-turnos-paciente" *ngIf="this.userService.getCurrentProfile() == 'paciente'">
          <table style="color:rgb(0, 162, 255);" class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Hora</th>
                <th scope="col">Especialidad</th>
                <th scope="col">Profesional</th>
                <th scope="col">Estado</th>
                <th scope="col">Acción</th>
                <!--<th scope="col" *ngIf="turno.estado == 'realizado' && turno.resenia != ''">Opinión</th>-->
                <!--<th scope="col" *ngIf="turno.estado == 'realizado' && turno.resenia != ''">Encuesta</th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let turno of this.listaDeTurnosDelPaciente">
                <td>{{turno.fecha}}</td>
                <td>{{turno.hora}}</td>
                <td>{{turno.especialidad}}</td>
                <td>{{turno.especialista}}</td>
                <td><span class="badge bg-primary">{{turno.estado}}</span> </td>
                <td *ngIf="turno.estado != 'realizado' && turno.estado != 'cancelado'"><button mat-raised-button color="accent" (click)="modalCancelacionPaciente(turno, 1, 'paciente')">Cancelar</button></td>
                <!--CANCELAR TURNO. EL PAC DEBE DEJAR COMENTARIO-->
                <td *ngIf="turno.resenia != ''"><button mat-raised-button color="accent" (click)="verResenia(turno.resenia)">Ver reseña</button></td>
                <!--VER RESEÑA -->
                <td *ngIf="turno.resenia != ''"><button mat-raised-button color="accent">Calificar atención</button>
                </td> <!--CALIFICAR ATENCIÓN DEL 1 AL 10-->
                <td *ngIf="turno.estado == 'realizado' && turno.resenia != ''"><button mat-raised-button color="accent">Completar encuesta</button></td><!-- COMPLETAR ENCUESTA-->
              </tr>
            </tbody>
          </table>
        </div>

        <!--LISTA DE TURNOS DEL ESPECIALISTA ACTUAL-->

        <div class="listado-turnos-especialista" *ngIf="this.userService.getCurrentProfile() == 'especialista'">
          <table style="color:rgb(0, 162, 255);" class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Hora</th>
                <th scope="col">Mi especialidad</th>
                <th scope="col">Paciente</th>
                <th scope="col">Estado</th>
                <th scope="col">Acción</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let turno of this.listaDeTurnosDelEspecialista">
                <td>{{turno.fecha}}</td>
                <td>{{turno.hora}}</td>
                <td>{{turno.especialidad}}</td>
                <td>{{turno.paciente}}</td>
                <td>{{turno.estado}}</td>
                <td><button mat-raised-button color="accent">Acción</button></td>
              </tr>
            </tbody>
          </table>
        </div>



      </div>
    </div>
  </div>