<div class="container" *ngIf="this.isLoggedIn">
		<h2>Pacientes </h2>
		<div class="row mb-5 cstm-height-card">
			<div class="col-md-4" *ngFor="let usuario of listaUsuariosAtendidos">
				<div class="card">
					<img [src]="usuario.imagen1" class="card-img-top" alt="foto">
					<div class="card-body scrollable-card-body">
						<h5 class="card-title">{{usuario.nombre + " " + usuario.apellido}}</h5>
						<p class="card-text">Últimos turnos: <span *ngFor="let turno of usuario.turnos.slice(0, 3)"> <br> <strong>Fecha y hora:</strong> {{turno.fecha}} {{turno.hora}} <br> <strong>Reseña:</strong> {{turno.resenia}} <br> </span> </p>
                         <app-historiales [listaTurnosRecibida]="usuario.turnos"></app-historiales> 
					</div>
				</div>
			</div>
		</div>
	</div>