.cstm-height-card .card-img-top {
    height: 250px;
    width: 350px;
    object-fit: cover;
  }

  .scrollable-card-body {
    max-height: 200px; /* Ajusta la altura máxima según tus necesidades */
    overflow-y: auto;
  }

  /* Estilos para WebKit (Google Chrome, Safari) */
.card-body::-webkit-scrollbar {
	width: 10px; /* Ancho de la scrollbar */
  }
  
  .card-body::-webkit-scrollbar-track {
	background-color: #fff; /* Color de fondo de la pista de la scrollbar */
  }
  
  .card-body::-webkit-scrollbar-thumb {
	background-color: #5cafab; /* Color del pulgar de la scrollbar */
	border-radius: 7px; 
  }
  
  .card-body::-webkit-scrollbar-thumb:hover {
	background-color: #5a918e; /* Color del pulgar de la scrollbar al pasar el cursor sobre él */
  }

.btn-primary{
	background-color: #6ed9d3 ;
    border-color: #6dbfbb;
    color:white;
	width: 150px;
	height: 30px;
	margin: 3px;
}

h1, h2, h3 
{
	color:#5e8b89;
}