.custom-background {
  background-color: #6dbfbb;
  color: white;
  border-radius: 5px;
  padding: 10px;
}

.btn-primary {
  background-color: #6ed9d3;
  border-color: #6dbfbb;
  color: white;
  width: 150px;
  height: 30px;
  margin: 3px;
}